<div class= "container-fluid footer">
    <div class="d-flex flex-row justify-content-around align-items-center">
        <div class="p-2">Sample App footer</div>
        <div class="p-2">Made by Nguyen Phuong Anh - 20165740</div>
    </div>
</div>