@import "bootstrap-sprockets";
@import "bootstrap";
$light-gray: #777;
$bg-color: #333;

#error_explanation{
    margin-bottom: 15px;
    .alert{
        font-size: 15px;
        margin-top: 10px;
    }
    li{
        color: red !important;
        font-size: 15px;
    }
}
.signup{
    label{
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 14px;
    }
    input{
        height: 35px;
        padding: 5px 15px;
    }
    .btn{
        margin-top: 20px;
        font-size: 14px;
        width: 100%;
    }
}